<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="count" value="64" />
		<add key="noAssumedBits" value="5" />

		<add key="deepNoAssumedBits" value="2" />
		<add key="noSegmants" value="4" />

		<add key="isExactPoly" value="false" />


		<add key="useTestingKey" value="true" />
		<add key="RATest" value="1,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0" />
		<add key="RBTest" value="0,0,0,0,1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0" />
		<add key="RCTest" value="0,0,0,1,0,1,1,0,0,1,0,0,1,1,0,1,0,1,0,0,0,0,1" />
		<add key="useKnownRandom" value="false" />
		<add key="RAKnown" value="1,1,0,1,1,1,0,0,1,1,1,0,1,0,1,0,0,1,1" />
		<add key="RBKnown" value="0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,1,1,1" />
		<add key="RCKnown" value="0,0,1,1,0,0,1,1,1,1,1,0,1,0,0,1,1,0,0,1,0,0,0" />


	</appSettings>
</configuration>